// 重置
@import "~@mcui/mc-reset";
// 基础
@import "~@mcui/mc-base";
// 主题
@import "~@fekit/mc-tinting/theme/mc-tinting@theme=chrome";
@import "../../lib/theme/mc-inview@theme=aa";
@import "../../lib/theme/mc-inview@theme=ab";
@import "../../lib/theme/mc-inview@theme=ac";
@import "../../lib/theme/mc-inview@theme=ad";
@import "../../lib/theme/mc-inview@theme=ae";

html {
  font-size: 12px;
  padding: 10px;
}

.com-title {
  text-align: center;
  margin-bottom: 3rem;
}

.floor {
  text-align: center;
  width: 100%;
  height: 500px;
  padding: 2rem 0;
  border: 1px solid #000;
  margin: 3em 0;
  // background: #ff9900;
}
